.vscode
misc
trace.txt

.vscode
.settings
.gradle
.classpath
.project
build
bin

data/*
backup

!data/threads
data/threads/*
!data/threads/.keep

!data/patterns
data/patterns/*
!data/patterns/.keep

*.bak
notes
