build

data/*

!data/threads
data/threads/*
!data/threads/.keep

!data/patterns
data/patterns/*
!data/patterns/.keep

.DS_Store

# IDE

*.iml
**/.idea/workspace.xml
**/.idea/tasks.xml
out

.gradle
.vscode
.settings
.classpath
.project

# temp

*.bak
notes
